/* ==========================================================================
  General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
  margin-top: 19px;
}

ul {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ==========================================================================
Tooltip
========================================================================== */
.tooltip {
  position: relative;
}
.tooltip_text {
  position: absolute;
  z-index: 10;
  white-space: nowrap;
  padding: 5px 8px;
  background: #353b48;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  visibility: hidden;
}

.tooltip_text.top {
  left: 50%;
  bottom: 100%;
  margin-bottom: 5px;
  -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
        transform: translateX(-50%);
}

.tooltip_text.top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-top: 5px solid #353b48;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
        transform: translateX(-50%);
}

.tooltip_text.bottom {
  left: 50%;
  top: 100%;
  margin-top: 5px;
  -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
        transform: translateX(-50%);
}

.tooltip_text.bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-bottom: 5px solid #353b48;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
        transform: translateX(-50%);
}

.tooltip_text.left {
  top: 50%;
  right: 100%;
  margin-right: 5px;
  -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
        transform: translateY(-50%);
}

.tooltip_text.left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  border-left: 5px solid #353b48;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
        transform: translateY(-50%);
}

.tooltip_text.right {
  top: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
        transform: translateY(-50%);
}

.tooltip_text.right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  border-right: 5px solid #353b48;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
      transform: translateY(-50%);
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}
