/* ==========================================================================
  General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
  margin-top: 19px;
}

ul {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ==========================================================================
 Timeline
========================================================================== */
.experience {
  background-color: #2f4f4f;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 30px;
  color: #fff;
}

.experience__title {
  font-size: 30px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.timeline__wrapper {
  padding: 5%;
}
.timeline {
  position: relative;
  padding: 2em 0 0 0;
  width: 100%;
}
.timeline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 15px solid #30B2E4;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: #30B2E4;
  left: 50%;
  transform: translateX(-50%);
}
.timeline__block {
  position: relative;
  transition: all 0.3s ease;
  margin: 1em 0;
  display: flex;
}

.timeline__block:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline__block:nth-child(even) .timeline__date {
  right: 55%;
  left: auto;
}
.timeline__block:nth-child(odd) .timeline__content:before {
  top: 24px;
  left: 100%;
  border-right: none;
  border-left: 15px solid #06205D;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.timeline__content {
  position: relative;
  width: 44%;
  background-color: #06205D;
  padding: 40px 15px;
  border-radius: 3px;
  margin-left: 0;
  transition: all 0.3s ease;
}
.timeline__content:before {
  content: '';
  position: absolute;
  top: 24px;
  right: 100%;
  border-right: 15px solid #06205D;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  transition: all 0.3s ease;
}
.timeline__content:hover {
  background-color: #30B2E4;
}
.timeline__content:hover:before{
  border-right: 15px solid #30B2E4;
}
.timeline__block:nth-child(odd) .timeline__content:hover:before{
  border-left: 15px solid #30B2E4;
}
.timeline__content:hover + .timeline__img {
  background-color: #30B2E4;
}
.timeline__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.timeline__img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #06205D;
  top: 15px;
  left: 50%;
  margin-left: -25px;
}
.timeline__date {
  display: inline-block;
  position: absolute;
  left: 55%;
  top: 25px;
}

@media screen and (max-width: 750px) {
  .timeline::before {
    left: 0;
  }
  .timeline__block:nth-child(even) {
    flex-direction: row;
  }

  .timeline__content{
    margin-left: 50px;
    width: 100%;
  }

  .timeline__img {
    left: 0;
  }
  .timeline__date {
    top: auto;
    left: 65px;
    bottom: 10px;
  }
  .timeline__block:nth-child(even) .timeline__date {
    left: 65px;
    right: auto;
  }
  .timeline__content:before {
    content: none;
  }
}