/* ==========================================================================
  General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
  margin-top: 19px;
}

ul {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
    margin-top: 100px;
}

.blocks__inner {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  /*  Вашему контейнеру нужна фиксированная высота 
   *  и он должен быть выше, чем самая высокая колонка. */
  height: 600px; 
}

.item {
  background-color: #a1cbfa;
  width: 32%;
  margin-bottom: 2%; /* Optional */
}

/*  Перегруппировываем элементы в 3 ряда */
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

/* .item:nth-of-type(4n+1) { order: 1; }
.item:nth-of-type(4n+2) { order: 2; }
.item:nth-of-type(4n+3) { order: 3; }
.item:nth-of-type(4n)   { order: 4; } */

/* Новые колонки разделители */
.blocks__inner::before,
.blocks__inner::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}