/* ==========================================================================
  General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
  margin-top: 19px;
}

ul {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
}


/* ==========================================================================
Percentage
========================================================================== */
.c100.center {
  margin-bottom: 25px;
  color: #000;
  font-size: 120px;
  background-color: #cccccc;

}
.c100:after {
  background-color: #f5f5f5;
}