/* ==========================================================================
  General Styles
========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 15px;
}

.block {
  height: 100px;
  background: #182C61;
}

.warpper {
  margin-top: 50px;
}
/* ==========================================================================
image inside Text
========================================================================== */
.banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  object-fit: cover;
  
}

.banner__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  text-align: center;
  font-size: 19vw;
  font-weight: 900;
  color: #000;
  line-height: 400px;
  text-transform: uppercase;
  mix-blend-mode: screen;
}
/* ==========================================================================
image inside icon
========================================================================== */
.banner__box {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.banner__box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__box i {
  position: relative;
  width: 100%;
  height: 100%;
  background: #FFF;
  font-size: 19vw;
  text-align: center;
  color: #000;
  line-height: 450px;
  mix-blend-mode: screen;
}

.banner__box i:hover {
  background: #000;
  color: #FFF;
}

@media screen and (max-width: 768px) {
  
.banner__box {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__box i {
  height: 50%;
  line-height: 50vh;
  font-size: 50vw;
}

}